* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #f9f9f9;
    margin: 0;
}

header {
    background-color: #171717;
    border-bottom: 3px solid #171717;
}

header img {
    margin-top: -20px;
    display: block;
    width: 100%;
    height: auto;
}

header nav {
    color: #fff;
    margin-top: -23px;
    text-align: center;
    padding: 15px;
}

header ul {
    list-style: none;
}

header li {
    display: inline;
}

header a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    padding: 10px 15px;

}

header a:hover {
    background-color: #3f3f3f;
    transition: background-color 0.3s ease;
    border-radius: 20px;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: auto;
    padding: 20px;
    flex: 1;
    margin-top: 20px;
}

.posts-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    margin-top: 20px;
}

.post {
    border: 1px solid #ccc;
    padding: 15px;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    min-height: 350px;
    display: flex;
    flex-direction: column;
}

.post a {
    text-decoration: none;
    color: black;
}

.post h3 {
    font-size: 20px;
}

.posts-date {
    font-size: 14px;
    color: #848484;
}

.post .read-more {
    font-size: 15px;
    color: #848484;
    text-align: right;
    margin-top: 5px;
}

.post .read-more:hover {
    font-weight: 500;
}

.post p {
    margin: 15px 0;
    text-align: justify;
}

.post img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 5px;
}

.post img:hover {
    transform: scale(0.95);
    transition: 0.3s ease;
}

.post-detail {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.post-detail h1 {
    margin-left: 5px;
    margin-top: 0;
    font-size: 28px;
}

.post-date,
.post-category {
    margin-left: 5px;
    color: #848484;
}

.post-content {
    line-height: 1.8;
    font-size: 18px;
    margin-bottom: 20px;
}

.photo {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 30px 0 30px 5px;
}

.photo img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 8px;
    transition: transform 0.3s ease;
}

.post-text {
    margin: 0 5px;
    font-size: 16px;
    text-align: justify;
    text-indent: 30px;
}

.form-section {
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    max-width: 400px;
}

.form-section h2 {
    margin-top: 0;
    margin-bottom: 20px;
    text-align: center;
    color: #333;
    font-size: 24px;
}

.form-section form {
    display: flex;
    flex-direction: column;
}

.form-section label {
    margin-bottom: 10px;
    color: #555;
    font-size: 14px;
}

.form-section input[type="text"],
.form-section input[type="password"],
.form-section input[type="date"],
.form-section input[type="file"],
.form-section textarea,
.form-section select {
    padding: 8px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 14px;
    width: 100%;
    box-sizing: border-box;
}

.form-section textarea {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    resize: none;
    height: 200px;
}

.form-section input[type="submit"] {
    padding: 10px;
    background-color: #00a700;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    width: 100%;
    box-sizing: border-box;
}

.form-section input[type="submit"]:hover {
    background-color: #008600;
}

.menu-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button {
    padding: 10px 16px;
    font-weight: 600;
    font-size: 16px;
    color: #fff;
    background-color: #00a700;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #008600;
}


.button-edit {
    padding: 8px 19px;
    font-size: 14px;
    color: #fff;
    background-color: #0779e4;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.button-edit:hover {
    background-color: #0251a5;
}

.button-delete {
    padding: 8px 11px;
    font-size: 14px;
    color: #fff;
    background-color: #d81f1f;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.button-delete:hover {
    background-color: #bc1919;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

table th,
table td {
    padding: 12px;
    border: 1px solid #ddd;
    text-align: left;
    text-align: center;
}

table th {
    background-color: #f4f4f4;
    font-size: 16px;
    color: #333;
    text-transform: uppercase;
}

td img {
    max-width: 150px;
    max-height: 150px;
}

.login-container {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.login-form {
    background-color: #fff;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}

.login-form h2 {
    margin: 0 0 20px;
    text-align: center;
    color: #333;
    font-size: 24px;
}

.login-form form {
    display: flex;
    flex-direction: column;
}

.login-form label {
    margin-bottom: 10px;
    color: #555;
    font-size: 16px;
}

.login-form input[type="text"],
.login-form input[type="password"] {
    padding: 8px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
}

.login-form input[type="submit"] {
    margin-top: 5px;
    padding: 12px;
    background-color: #0779e4;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.login-form input[type="submit"]:hover {
    background-color: #055bb5;
}

footer {
    margin-top: 30px;
    background-color: #171717;
    color: #fff;
    text-align: center;
    padding: 15px 0;
    font-size: 14px;
}

footer a {
    text-decoration: none;
    color: #fff;
}

footer a:hover {
    color: #c1c1c1;
}

@media (max-width: 1024px) {
    header nav {
        padding: 10px;
    }

    header a {
        font-size: 12px;
        padding: 0 10px;
    }

    .container {
        width: 95%;
        padding: 10px;
    }

    .posts-container {
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    }

    .post h3 {
        font-size: 18px;
    }

    .post p {
        font-size: 14px;
    }

    .post-detail h1 {
        font-size: 24px;
    }

    .post-content {
        font-size: 16px;
    }

    .form-section {
        padding: 20px;
        max-width: 90%;
    }

    .login-form {
        padding: 20px;
    }

    table th,
    table td {
        padding: 10px;
        font-size: 14px;
    }
}

@media (max-width: 768px) {
    header a {
        font-size: 10px;
        padding: 0 5px;
    }

    .posts-container {
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }

    .post h3 {
        font-size: 16px;
    }

    .post p {
        font-size: 12px;
    }

    .post-detail h1 {
        font-size: 20px;
    }

    .post-content {
        font-size: 14px;
    }

    .form-section {
        padding: 15px;
        max-width: 100%;
    }

    .login-form {
        padding: 15px;
    }

    table th,
    table td {
        padding: 8px;
        font-size: 12px;
    }
}

@media (max-width: 480px) {
    header nav {
        display: flex;
        flex-direction: column;
    }

    header a {
        font-size: 8px;
        padding: 5px 0;
    }

    .container {
        padding: 5px;
    }

    .posts-container {
        grid-template-columns: 1fr;
    }

    .post h3 {
        font-size: 14px;
    }

    .post p {
        font-size: 10px;
    }

    .post-detail h1 {
        font-size: 18px;
    }

    .post-content {
        font-size: 12px;
    }

    .form-section {
        padding: 10px;
        max-width: 100%;
    }

    .login-form {
        padding: 10px;
    }

    table th,
    table td {
        padding: 6px;
        font-size: 10px;
    }
}